# demo
DEMO_CURRENCY_CSV=
DEMO_ACCOUNTTYPE_CSV=
DEMO_ACCOUNTS_CSV
DEMO_TRANSACTIONSJOURNAL_CSV
DEMO_TRANSACTIONSLEDGER_CSV=
DEMO_DATABASE_PATH="absolute path to database file with database file at the end"

DEMO_PORT=8000
DEMO_WEB_IP=127.0.0.1

# test
TEST_V1_TRANSACTIONSJOURNAL_CSV=
TEST_V1_TRANSACTIONSLEDGER_CSV=

TEST_DATABASE_PATH="absolute path to database file without database file name at the end"
TEST_DATABASE_FILENAME="database file name"
# TEST_DATABASE_FILENAME_DEBUG=test-06-15-debug.db


# production
WEB_IP=