# demo env
DEMO_CURRENCY_CSV=
DEMO_ACCOUNTTYPE_CSV=
DEMO_ACCOUNTS_CSV=
DEMO_TRANSACTIONSJOURNAL_CSV=
DEMO_TRANSACTIONSLEDGER_CSV=
DEMO_DATABASE_PATH="absolute path to database file with database file at the end"

DEMO_WEB_IP=127.0.0.1
DEMO_PORT=8000


# test env
# name only
TEST_CURRENCY_CSV=
TEST_ACCOUNTTYPE_CSV=
TEST_ACCOUNTS_CSV=
TEST_TRANSACTIONSJOURNAL_CSV=
TEST_TRANSACTIONSLEDGER_CSV=
TEST_ACCOUNTBALANCE_CSV=
TEST_USERS_CSV=

TEST_DATABASE_FILENAME=
# assumtion: your csv to-be-import files should be under the folder of databases

# for check json valid script only
JSON_CHECK_CSV=
JSON_CHECK_JSON_COLUMN=
JSON_CHECK_OUTPUT_FILE=

TEST_WEB_IP=
TEST_WEB_PORT=8000


# production env
# database setting
# sqlite
CURRENCY_CSV=
ACCOUNTTYPE_CSV=
ACCOUNTS_CSV=
TRANSACTIONSJOURNAL_CSV=
TRANSACTIONSLEDGER_CSV=
ACCOUNTBALANCE_CSV=
USERS_CSV=

# mariadb
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=3306

# web server setting
SESSION_SECRET=
WEB_IP=
WEB_PORT=